html {
  font-family: Lora, serif;
}

.masthead {

  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
  border-radius: 8px;

}

.nav a {
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  background-color: #588477;
  color: #fff;
}

.nav a:hover {

}

.banner {

  background-image: url("../images/banner.jpg");
  background-size: cover;



}

.banner-content {

  background-image: url("../images/two-leaves.svg");
  background-position:
  background-size:
  background-repeat: no-repeat;
  background-color: #588477;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
