html {
  font-family: Lora, serif;
}

.masthead {

  background-color: #588477;
  border-top: 3px #145b1d;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;

}

.logo {
  text-align: center;
}

h1{
  color: #fff;
}

.nav {

  text-align: center;

}

.nav a {
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
  color: #fff;
}

.nav a:hover {

  background-color: #fff;
  color: #467366;
  background-image: url("../images/leaf-icon.svg")
  ;background-position: .75em;
  background-size: 50px auto;
  background-repeat: no-repeat;

}

.banner {

  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border: 3px solid #145b1d;

}

.banner-content {

  padding-top: 150px;
  background-image: url("../images/two-leaves.svg");
  background-position: 10px 180px;
  background-size: 100px auto;
  background-repeat: no-repeat;
  color: #fff;

}

p {

  padding-top: 150px;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
